{
    "DISCORD_TOKEN": "DISCORD_TOKEN_HERE",
    "CWA_API_KEY": "CWB-XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
    "OWNER_ID": 12345678,
    "GUILD_IDS": [
        333333333333333333,
        444444444444444444
    ],
    "CONSOLE_ID": CONSOLE_ID_HERE,
    "YT_VIDEO_ID": "KyT4qSK8lJo"
}